<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-webstat.ZPM">
    <Module>
      <Name>iris-webstat</Name>
      <Version>1.0.3</Version>
      <Dependencies>
        <ModuleReference>
          <Name>dsw</Name>
          <Version>3.*</Version>
        </ModuleReference>
      </Dependencies>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.irisbi.PKG"/>
      <Resource Name="utils.PKG"/>
      <Resource Name="KPI.PKG"/>
      <Resource Name="data.teccod.PKG" Directory="dc"/>
      <Resource Name="dc.data.teccod.GBL"/>
      <Resource Name="*.DFI" />
      <Invoke Class="utils.utils" Method="import"></Invoke>
      <Invokes>
        <Invoke Class="%DeepSee.Utils" Method="%BuildCube">
          <Arg>PromjetCube</Arg>
        </Invoke>
        <Invoke Class="%DeepSee.Utils" Method="%BuildCube">
          <Arg>pmLog2021Cube</Arg>
        </Invoke>
        <Invoke Class="%DeepSee.Utils" Method="%BuildCube">
          <Arg>PromjetYMCube</Arg>
        </Invoke>
        <Invoke Class="KPI.Devices" Method="GrantSQLAccess">
        </Invoke>
      </Invokes>
      <Parameter Name="folder" Value="irisapp" />
      <FileCopy Name="dsw/irisapp.json" Target="${cspdir}dsw/configs/${folder}.json"/>
    </Module>
  </Document>
</Export>